body{
    display: flex;
    justify-content: center;
}
#list-div{
    width: 300px;
    display: flex;
    flex-direction: column;
}
#list-div li{
    background-color: aquamarine;
    color: #333;
    margin: 10px;
}


#main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0066cc;
    width: 400px;
    height: 500px;
    margin: 30px;
}
.form{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.operador{

    display: flex;
    justify-content: space-between;  
    
}
.operador input{

    width: 45px;
    margin: 15px;
    height: 45px;
}


.form input{
    background-color: #333;
    color: #fafafa;
}